<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cola.omlink.manager.mapper.OrderMapper">

    <resultMap id="orderMap" type="com.cola.omlink.repository.entity.order.Order" autoMapping="true"></resultMap>



    <sql id="columns">
        id,order_no,project_id,customer_id,customer_name,original_price,total_price,status,cancel_time,deleted,
        create_time,update_time
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
     insert into o_order (id,
                          order_no,
                          project_id,
                          customer_id,
                          customer_name,
                          original_price,
                          total_price,
                          status
                          ) values (
                          #{id},
                          #{orderNo},
                          #{projectId},
                          #{customerId},
                          #{customerName},
                          #{originalPrice},
                          #{totalPrice},
                          #{status}
                          )
    </insert>
    
    <!--    根据userId 和 订单状态查询-->
    <select id="findUserPage" resultMap="orderMap">
        select <include refid="columns" />
            from o_order
            <where>
                <if test="orderStatus != null">
                    and status = #{orderStatus}
                </if>
                and customer_id = #{userId}
                and deleted = 0
            </where>
            order by id desc
    </select>



    <!--    根据orderId更新订单状态-->
    <update id="missionComplete">
        update o_order
        set status = 1
        where id=#{orderId};
    </update>

    <update id="completeOrder">
        update o_order
        set status = 2
        where id=#{orderId};
    </update>

    <update id="cancelOrder">
        update o_order
        set status = 3,
            cancel_time = now()
        where id=#{orderId};
    </update>
    

</mapper>