<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cola.omlink.manager.mapper.PostMapper">

    <select id="findPostsByType" resultType="com.cola.omlink.repository.entity.article.Article">
        SELECT *
        FROM o_article
        WHERE article_type = #{type}
            and deleted = 0
    </select>

    <select id="findPostById" resultType="com.cola.omlink.repository.entity.article.Article">
        SELECT *
        FROM o_article
        WHERE id = #{id}
          and deleted = 0
    </select>

    <select id="findPostsByTag" resultType="com.cola.omlink.repository.entity.article.Article">
        SELECT *
        FROM o_article
        WHERE article_type = #{type}
        ORDER BY tag
    </select>

</mapper>